-- Insert test user for testing
INSERT INTO users (
    email,
    name,
    plan,
    subscription_status,
    current_period_end,
    role,
    enabled,
    created_at,
    updated_at
) VALUES (
    'snowleo1342@gmail.com',
    'Test User',
    'pro',
    'active',
    NOW() + INTERVAL '30 days',
    'user',
    true,
    NOW(),
    NOW()
) ON CONFLICT (email) DO UPDATE SET
    plan = EXCLUDED.plan,
    subscription_status = EXCLUDED.subscription_status,
    current_period_end = EXCLUDED.current_period_end,
    updated_at = NOW();

-- Verify the user was inserted/updated
SELECT id, email, name, plan, subscription_status, current_period_end, enabled, created_at
FROM users 
WHERE email = 'snowleo1342@gmail.com';
